@@include('components/spinnerLoadingPage.html')
<div class="row mt-2">
    <!-- ============ ADD JOURNAL ============ -->
    <div>
        <div v-show="!spinnerLoadingPage">
            <p>Generating ideas and identifying opportunities, following setups, sizing, entering and exiting and managing myself and keeming myself in peak performance</p>
            <div class="mt-3 input-group mb-3">
                <input type="date" class="form-control" v-bind:readonly="journal.hasOwnProperty('date')" v-bind:value="journal.hasOwnProperty('dateUnix') ? journalUpdate.date = dateCalFormat(journal.dateUnix) : journalUpdate.hasOwnProperty('date') ? journalUpdate.date : journalUpdate.date = currentDate" v-on:input="journalDateInput($event.target.value)"/>
            </div>
            <h5>Positive Aspects</h5>
            <div class="mt-2">
                <div v-html="journal.hasOwnProperty('journal') ? journal.journal.positive : ''" id="quillEditor0"></div>
            </div>
            <h5 class="mt-3">Negative Aspects</h5>
            <div class="mt-2">
                <div v-html="journal.hasOwnProperty('journal') ? journal.journal.negative : ''" id="quillEditor1"></div>
            </div>
            <h5 class="mt-3">Observations</h5>
            <div class="mt-2">
                <div v-html="journal.hasOwnProperty('journal') ? journal.journal.other : ''" id="quillEditor2"></div>
            </div>
            <div class="mt-3">
                <button :disabled="!journalButton" type="button" v-on:click="uploadJournal()" class="btn btn-success btn-lg">Submit</button>
            </div>
            <div class="mt-3">
                <button type="cancel" onclick="location.href = '/diary';" class="btn btn-outline-secondary btn-sm">Cancel</button>
            </div>
        </div>
    </div>
</div>