<div class="row mt-2">
    <!-- ============ ADD NOTE ============ -->
    <div>
        <div v-show="!loadingSpinner">
            <div class="mt-3" v-bind:key="renderData">
                <div v-html="note.note" id="quillEditor"></div>
            </div>
            <div class="mt-3">
                <button type="button" v-on:click="uploadNote" class="btn btn-success btn-lg">Submit</button>
            </div>
            <div class="mt-3">
                <button type="cancel" onclick="location.href = '/notes';" class="btn btn-outline-secondary btn-sm">Cancel</button>
            </div>
        </div>
    </div>
</div>