<div v-show="!loadingSpinner">

    <div class="mt-3">
        <input type="file" @change="imageUpload"/>
    </div>
    <div class="mt-3" id="imagePreview" style="position: relative; display: flex; flex-direction: column; align-items: center; padding-top: 50px;">
        <img id="screenshotDiv" v-bind:src="screenshot.original" style="position: relative;" v-bind:key="renderData" crossorigin="anonymous"/>
        <img v-bind:src="screenshot.annotated" style="position: absolute;" v-on:click="markerArea()"/>
    </div>
    <p class="fst-italic fw-lighter text-center" v-show="screenshot.original">
        <small>Click image to mark & annotate</small>
    </p>
    <div class="mt-3">
        <label class="form-label">Comment</label>
        <div id="quillEditor"></div>
    </div>

    <div class="mt-3">
        <label class="form-label">Tags</label>
        <div class="">
            <input type="text" id="tags" data-role="tagsinput" class="form-select" v-bind:value="screenshot.tags">
        </div>
    </div>

    <div class="mt-3 mb-3">
        <button type="button" v-on:click="saveScreenshot" class="btn btn-success btn-lg">Submit</button>
    </div>

</div>