<div v-show="loadingSpinner" class="overlay">
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm me-3" role="status" aria-hidden="true"></span>{{loadingSpinnerText}}</button>
    </div>
</div>
<div>

    <div v-show="!loadingSpinner">
        <select v-on:input="inputChooseBroker($event.target.value)" class="form-select">
            <option v-for="item in brokers" v-bind:value="item.value" v-bind:selected="item.value ==  selectedBroker">{{item.label}}</option>
        </select>
        <!-- ============ STEPPER INIT ============ -->
        <div id="addStepper" class="bs-stepper">
            <div class="bs-stepper-header">
                <!--!<div class="step" data-target="#step1">
                    <button type="button" class="btn step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Cash Journal(s)</span>
                    </button>
                </div>
                <div class="line"></div>-->
                <div class="step" data-target="#step2">
                    <button type="button" class="btn step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Trades</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#step3">
                    <button type="button" class="btn step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Validate</span>
                    </button>
                </div>
            </div>

            <!-- ============ STEPPER CONTENT ============ -->
            <div class="bs-stepper-content">

                <!-- STEP 1 - Cash Journals -->
                <div id="step1" class="content">
                    <span>@@include('components/stepperNext.html')</span>
                    @@include('components/cancelAdd.html')    
                    
                    <div class="mt-3 input-group mb-3">
                        <input id="tradesInput" type="file" v-on:change="importCashJournals($event)"/>
                    </div>

                    <div v-if="existingImports.length != 0">
                        Following dates are already imported: <span v-for="(item, index) in existingImports">
                            <span v-if="index > 0">, </span>{{dateCalFormat(item)}}</span>
                    </div>

                    <div v-if="cashJournals" v-for="(item, index) in cashJournals">
                        <h3 class="ml-2 mt-2 text-blue">{{createdDateFormat(index)}}</h3>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item2 in item.locates">
                                    <td>{{item2.symbol}}</td>
                                    <td>{{twoDecCurrencyFormat(item2.fee)}}</td>
                                </tr>
                                <tr>
                                    <td>Locate Fee</td>
                                    <td>{{twoDecCurrencyFormat(item.locate)}}</td>
                                </tr>
                                <tr>
                                    <td>Software Fee</td>
                                    <td>{{twoDecCurrencyFormat(item.software)}}</td>
                                </tr>
                                <tr>
                                    <td>Wire Inn</td>
                                    <td>{{twoDecCurrencyFormat(item.banking.inn)}}</td>
                                </tr>
                                <tr>
                                    <td>Wire Out</td>
                                    <td>{{twoDecCurrencyFormat(item.banking.out)}}</td>
                                </tr>
                                <tr>
                                    <td>Wire Fee</td>
                                    <td>{{twoDecCurrencyFormat(item.banking.fee)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- STEP 2 - Trades -->
                <div id="step2" class="content">
                    <!--@@include('components/stepperPrevious.html')-->
                    <span v-show="Object.keys(executions).length > 0||Object.keys(cashJournals).length > 0">@@include('components/stepperNext.html')</span>
                    @@include('components/cancelAdd.html')    
                    
                    <!--<label>Include Financials</label>
                    <label class="switch">
                        <input type="checkbox" v-model="includeFinancials" v-on:click="includeFinancials = !includeFinancials">
                        <span class="slider round"></span>
                    </label>-->
                    <h4 class="mt-3">Trades</h4>
                    <div class="mt-3 input-group mb-3">
                        <input id="tradesInput" type="file" v-on:change="importTrades($event)"/>
                    </div>
                    <div v-if="existingImports.length != 0">
                        Following dates are already imported: <span v-for="(item, index) in existingImports">
                            <span v-if="index > 0">, </span>{{dateCalFormat(item)}}</span>
                    </div>
                    <div v-if="Object.keys(blotter).length > 0 && Object.keys(pAndL).length > 0" v-for="(execution, index) in executions">
                        <h3 class="ml-2 mt-2 text-blue">{{createdDateFormat(index)}}</h3>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Symbol</th>
                                    <th scope="col">Tot Qty</th>
                                    <th scope="col">P/L gross</th>
                                    <th scope="col">Comm</th>
                                    <th scope="col">Tot Fees</th>
                                    <th scope="col">P/L net</th>
                                    <th scope="col">wins(g)</th>
                                    <th scope="col">loss(g)</th>
                                    <th scope="col">trades</th>
                                    <th scope="col">executions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="blot in blotter[index]">
                                    <td>{{blot.symbol}}</td>
                                    <td>{{blot.buyQuantity + blot.sellQuantity}}</td>
                                    <td v-bind:class="[blot.grossProceeds>0 ? 'greenTrade' : 'redTrade']">{{(blot.grossProceeds).toFixed(2)}}</td>
                                    <td>{{(blot.commission).toFixed(2)}}</td>
                                    <td>{{(blot.fees).toFixed(2)}}</td>
                                    <td v-bind:class="[blot.netProceeds>0 ? 'greenTrade' : 'redTrade']">{{(blot.netProceeds).toFixed(2)}}</td>
                                    <td>{{blot.grossWinsCount}}</td>
                                    <td>{{blot.grossLossCount}}</td>
                                    <td>{{blot.trades}}</td>
                                    <td>{{blot.executions}}</td>
                                </tr>
                                <tr v-if="index !=null" class="sumRow">
                                    <td>All</td>
                                    <td>{{pAndL[index].buyQuantity}}</td>
                                    <td v-bind:class="[pAndL[index].grossProceeds>0 ? 'greenTrade' : 'redTrade']">{{(pAndL[index].grossProceeds).toFixed(2)}}</td>
                                    <td>{{(pAndL[index].commission).toFixed(2)}}</td>
                                    <td>{{(pAndL[index].fees).toFixed(2)}}</td>
                                    <td v-bind:class="[pAndL[index].netProceeds>0 ? 'greenTrade' : 'redTrade']">{{(pAndL[index].netProceeds).toFixed(2)}}</td>
                                    <td>{{pAndL[index].grossWinsCount}}</td>
                                    <td>{{pAndL[index].grossLossCount}}</td>
                                    <td>{{pAndL[index].trades}}</td>
                                    <td>{{pAndL[index].executions}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- STEP 3 - Validate -->
                <div id="step3" class="content">
                    <!-- Button -->
                    <div class="mt-3">
                        <button type="button" v-on:click="uploadTrades" class="btn btn-success btn-lg">Submit</button>
                    </div>
                    <div class="mt-3">
                                        @@include('components/stepperPrevious.html')
                                        @@include('components/cancelAdd.html')
                                    </div>
                </div>
            </div>
        </div>
    </div>
</div>