<div class="row mt-2 mb-2">
    @@include('components/filters.html')
    @@include('components/noData.html')
    <div v-show="!spinnerLoadingPage">
    <!-- ============ CALENDAR ============ -->
        <div v-show="calendarData" class="col-12 text-center mt-2 align-self-start">
            <div class="dailyCard">
                <div class="row justify-content-center">
                @@include('components/calendar.html', {
                    "type": "full"
                })
            </div>
            </div>
        </div>
    </div>
</div>