<div class="row mt-2">

    <div v-show="loadingSpinner" class="overlay">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm me-3" role="status" aria-hidden="true"></span>{{loadingSpinnerText}}</button>
        </div>
    </div>

    <!-- ============ DASHBOARD ============ -->
    <div v-show="showDashboard">
        <ul class="timeline">
            <li v-for="(note, index) in notes" v-bind:key="index">
                <div class="row">
                    <div class="col mb-2 noteDateDiv">{{createdDateFormat(note.date)}}</div>
                    <div class="col mb-2 ms-auto text-end"><i class="uil uil-edit-alt editItem pointerClass" v-on:click="editItem(note.id)"></i><i v-on:click="selectedItem = note.id" class="ps-2 uil uil-trash-alt popoverDelete pointerClass" data-bs-html="true" data-bs-content="<div>Are you sure?</div><div class='text-center'><a type='button' class='btn btn-red btn-sm popoverYes'>Yes</a><a type='button' class='btn btn-outline-secondary btn-sm ms-2 popoverNo'>No</a></div>" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Left popover"></i></div>
                </div>

                <div>
                    <p v-html="note.note"></p>
                </div>
            </li>
        </ul>
    </div>
</div>