<div class="row mt-2">
    <div class="col-xl-3 col-sm-6 col-12 mb-3" v-for="(screenshot, index) in screenshots">
        <div class="dailyCard">
                <img class="img-fluid screenshotImg" v-bind:src="screenshot.annotated" v-on:click="screenshotIndex = index+1" data-bs-toggle="modal" data-bs-target="#tradesModal">
            <div class="mt-1">
                <p v-html="screenshot.comment"></p>
            </div>
            <div class="d-flex mt-auto">
                <span v-if="screenshot.tags.length == 0">No tags</span>
                <span v-for="(tag, index) in screenshot.tags"><span class="tags">{{tag}}</span>
                    <span v-if="index+1 < screenshot.tags.length" class="ms-3"></span></span>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ============ VIDEO MODAL ============ -->
<div class="modal fade" id="tradesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div v-if="screenshotIndex" class="modal-body">
            <div class="text-center">
                <img class="img-fluid" v-bind:src="screenshots[screenshotIndex-1].annotated">
            </div>
        </div>
    </div>
</div>
</div>