<div class="row mt-2 mb-2">
    @@include('components/filters.html')
    <!-- ============ DASHBOARD ============ -->
    @@include('components/noData.html')
    <div v-if="spinnerLoadingPage" class="text-center overlay">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-blue" role="status"></div>
        </div>
        {{spinnerLoadingPageText}}
    </div>
    <div>
        <div class="row">
            <div v-if="!expandedScreenshot" v-for="(setup, index) in setups" class="col-12 col-xl-6 mt-2">
                <div class="dailyCard" v-bind:id="setup.objectId">
                    <div class="row">
                        <div class="col-12 cardFirstLine d-flex align-items-center fw-bold">
                            <div class="col-auto">{{createdDateFormat(setup.dateUnix)}}</div>
                        </div>
                        <div class="col-12">
                            <div class="row mt-2 journalRow">
                                <span class="col mb-2 txt-small">{{setup.symbol}}
                                    <span v-if="setup.side"> | {{setup.side == 'SS' || setup.side == 'BC' ? 'Short' : 'Long'}} | {{timeFormat(setup.dateUnix)}}</span>
                                    <span v-else class="col mb-2"> | {{hourMinuteFormat(setup.dateUnix)}}</span>
                                    <span v-if="patternsMistakes.findIndex(obj => obj.tradeId==setup.name)>0">

                                        <span v-if="patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].hasOwnProperty('pattern') && patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].pattern != null && patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].pattern.hasOwnProperty('name')"> | {{patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].pattern.name}}</span>

                                        <span v-if="patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].hasOwnProperty('mistake') && patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].mistake != null && patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].mistake.hasOwnProperty('name')"> | {{patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].mistake.name}}</span></span>
                                </span>
                                <span class="col mb-2 ms-auto text-end">
                                    <i class="uil uil-expand-arrows-alt pointerClass me-4" v-on:click="expandedScreenshot = setup.objectId"></i>
                                    <i class="uil uil-edit-alt editItem pointerClass" v-on:click="editItem(setup.objectId)"></i>
                                    <i v-on:click="selectedItem = setup.objectId" class="ps-2 uil uil-trash-alt popoverDelete pointerClass" data-bs-html="true" data-bs-content="<div>Are you sure?</div><div class='text-center'><a type='button' class='btn btn-red btn-sm popoverYes'>Yes</a><a type='button' class='btn btn-outline-secondary btn-sm ms-2 popoverNo'>No</a></div>" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Left popover"></i>
                                </span>
                            </div>
                            <div class="">
                                <!--<img v-bind:id="setup.objectId" class="setupEntryImg mt-3 img-fluid" v-bind:src="setup.annotated.url"/>-->
                                <img class="setupEntryImg mt-3 img-fluid" v-bind:src="setup.annotatedBase64"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Load more spinner -->
        <div v-if="loadMoreSpinner" class="d-flex justify-content-center mt-3">
            <div class="spinner-border text-blue" role="status"></div>
        </div>

        <div v-if="expandedScreenshot">
            <div class="row">
                <i class="col ms-auto text-end uil uil-times pointerClass" v-on:click="expandedScreenshot = null"></i>
            </div>
            <div id="setupsCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div v-for="(setup, index) in setups" v-bind:class="[expandedScreenshot === setup.objectId ? 'active' : '', 'carousel-item']">
                        <img class="d-block w-100" v-bind:src="setup.annotated.url">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{createdDateFormat(setup.dateUnix)}}</h5>
                            <p>{{setup.symbol}}
                                <span v-if="setup.side"> | {{setup.side == 'SS' || setup.side == 'BC' ? 'Short' : 'Long'}} | {{timeFormat(setup.dateUnix)}}</span>
                                <span v-else class="col mb-2"> | {{hourMinuteFormat(setup.dateUnix)}}</span>
                                <span v-if="patternsMistakes.findIndex(obj => obj.tradeId==setup.name)>0 && patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].pattern.name != null"> | {{patternsMistakes[patternsMistakes.findIndex(obj => obj.tradeId==setup.name)].pattern.name}}</span></p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#setupsCarousel" data-bs-slide="prev"></button>
                <button class="carousel-control-next" type="button" data-bs-target="#setupsCarousel" data-bs-slide="next"></button>
            </div>
        </div>
    </div>

</div>