<div class="col-12">
    <div v-bind:class="[currentPage.id === 'calendar' ? 'justify-content-center' : '', 'row']">
        <div v-bind:class="[currentPage.id === 'calendar' ? 'col-md-9 col-xl-6' : '', 'col-12']">
            <div class="row">
                <div class="col-2">
                    <i class="uil uil-angle-left-b pointerClass" v-on:click="monthLastNext(-1)"></i>
                </div>
                <div class="col-8">
                    {{monthFormat(selectedMonth.start)}}
                </div>
                <div class="col-2">
                    <i class="uil uil-angle-right-b pointerClass" v-on:click="monthLastNext(1)"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div v-bind:class="[currentPage.id === 'calendar' ? 'col-md-9 col-xl-6 mb-5' : '', 'col-12']">
    <div class="row">
        <div class="col" v-for="(day, index) in days">
            <div>{{day}}</div>
            <div v-for="line in calendarData">
                <div class="row">
                    <div v-show="line[index] != 0" v-bind:class="[{'greenTradeDiv':selectedPlSatisfaction == 'pl' ? line[index].pAndL[amountCase+'Proceeds']>=0 : line[index].satisfaction == true, 'redTradeDiv': selectedPlSatisfaction == 'pl' ? line[index].pAndL[amountCase+'Proceeds']<0 : line[index].satisfaction == false, 'calDivDay': currentPage.id == 'daily', 'calDivDash': currentPage.id == 'calendar'}, 'col']">
                        <p class="mb-1 dayNumber" v-show="line[index].day != 0">{{line[index].day}}</p>
                    @@if(type === "full"){
                        <div class="d-none d-md-block">
                            <p v-show="line[index].pAndL.trades">{{line[index].pAndL.trades}} trades</p>
                            <p v-show="line[index].pAndL[amountCase+'Proceeds']">{{thousandCurrencyFormat(parseInt(line[index].pAndL[amountCase+'Proceeds']))}}</p>
                        </div>
                    }
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div v-show="currentPage.id == 'calendar'" class="col-12">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-3 mb-3" v-for="(calData, index) in miniCalendarsData">
            <div class="row me-2">
                <div>{{calData[0][0].month}}</div>
                <div class="col miniCalBox" v-for="(day, index) in days">
                    <div>{{day}}</div>
                    <div v-for="line in calData">
                        <div class="row">
                            <div v-show="line[index] != 0" v-bind:class="[{'greenTradeDiv':selectedPlSatisfaction == 'pl' ? line[index].pAndL[amountCase+'Proceeds']>=0 : line[index].satisfaction == true, 'redTradeDiv': selectedPlSatisfaction == 'pl' ? line[index].pAndL[amountCase+'Proceeds']<0 : line[index].satisfaction == false}, 'calDivMini', 'col']">
                                <p class="mb-1 dayNumber" v-show="line[index].day != 0">{{line[index].day}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>