<div class="col-12 table-responsive">
    <nav>
        <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
            <button v-for="dashTab in dailyTabs" class="nav-link" v-bind:id="dashTab.id+'-'+index" data-bs-toggle="tab" v-bind:data-bs-target="dashTab.target+'-'+index" type="button" role="tab" aria-controls="nav-overview" aria-selected="true">{{dashTab.label}}<span v-if="dashTab.id == 'screenshots' && setups.filter(obj => obj.dateUnixDay == daily.dateUnix).length > 0" class="txt-small"> ({{setups.filter(obj => obj.dateUnixDay == daily.dateUnix).length}})</span>
                <!--({{daily[dashTab.id].length}})-->
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!-- TRADES TAB -->
        <div class="tab-pane fade txt-small" v-bind:id="'tradesNav-'+index" role="tabpanel" aria-labelledby="nav-overview-tab">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Entry</th>
                        <th scope="col">Time</th>
                        <th scope="col">Price</th>
                        <!--<th scope="col">Duration</th>-->
                        <th scope="col">P&L/Sh(g)</th>
                        <th scope="col">P&L(n)</th>
                        <th scope="col">Pattern</th>
                        <th scope="col">Mistake</th>
                        <th scope="col">Note</th>
                        <!--<th scope="col">Video</th>-->
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <!-- the page loads faster than the video blob => check if blob, that is after slash, is not null, and then load -->
                    <!--<tr v-if="/[^/]*$/.exec(videoBlob)[0]!='null'&&trade.videoStart&&trade.videoEnd">-->

                    <tr v-for="(trade, index2) in daily.trades"  data-bs-toggle="modal" data-bs-target="#tradesModal"  v-on:click="clickTradesModal(trade.videoStart&&trade.videoEnd ? true : false, index2, daily)" class="pointerClass">
                        <td>{{trade.symbol}}</td>
                        <td>{{trade.buyQuantity+trade.sellQuantity}}</td>
                        <td>{{trade.strategy.charAt(0).toUpperCase() + trade.strategy.slice(1)}}</td>
                        <td>{{timeFormat(trade.entryTime)}}</td>
                        <td>{{(trade.entryPrice).toFixed(2)}}</td>
                        <!--<td>{{timeDuration(trade.exitTime - trade.entryTime)}}</td>-->
                        <td v-bind:class="[trade.grossSharePL>0 ? 'greenTrade' : 'redTrade']">{{(trade.grossSharePL).toFixed(2)}}</td>
                        <td v-bind:class="[trade.netProceeds>0 ? 'greenTrade' : 'redTrade']">{{(trade.netProceeds).toFixed(2)}}</td>

                        <td v-if="trade.hasOwnProperty('setup')&&trade.setup.hasOwnProperty('pattern')&&trade.setup.pattern != null&&patterns.filter(x => x.objectId == trade.setup.pattern)[0]!=undefined">
                            {{(JSON.parse(JSON.stringify(patterns.filter(x => x.objectId == trade.setup.pattern)[0])).name).substr(0,15)+"..."}}
                        </td>
                        <td v-else>
                            <!--<i class="uil uil-times-square"></i>-->
                        </td>
                        <td v-if="trade.hasOwnProperty('setup')&&trade.setup.hasOwnProperty('mistake')&&trade.setup.mistake != null&&mistakes.filter(x => x.objectId == trade.setup.mistake)[0]!=undefined">
                            {{(JSON.parse(JSON.stringify(mistakes.filter(x => x.objectId == trade.setup.mistake)[0])).name).substr(0,15)+"..."}}
                        </td>
                        <td v-else>
                            <!--<i class="uil uil-times-square"></i>-->
                        </td>
                        <td v-if="trade.hasOwnProperty('setup')&&trade.setup.hasOwnProperty('note')&&trade.setup.note != null">
                            {{(trade.setup.note).substr(0,15)+"..."}}
                        </td>
                        <td v-else>
                            <!--<i class="uil uil-times-square"></i>-->
                        </td>
                        <!--<td id="videoTd">
                            <!-- Need to add +1 and then remove it in modal or else modal did not show because of <div v-if="videosArrayIndex" class="modal-content">
                            <i v-bind:class="[trade.videoStart&&trade.videoEnd ? 'fab fa-youtube' : 'uil uil-times-square']"></i>
                        </td>-->
                        <td v-if="tradeSatisfactionArray.findIndex(f => f.id == trade.id)!=-1 && tradeSatisfactionArray[tradeSatisfactionArray.findIndex(f => f.id == trade.id)].satisfaction == true">
                            <i class="greenTrade uil uil-thumbs-up"></i>
                        </td>
                        <td v-if="tradeSatisfactionArray.findIndex(f => f.id == trade.id)!=-1 && tradeSatisfactionArray[tradeSatisfactionArray.findIndex(f => f.id == trade.id)].satisfaction == false">
                            <i class="redTrade uil uil-thumbs-down"></i>
                        </td>
                        <td v-else></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- BLOTTER TAB -->
        <div class="tab-pane fade txt-small" v-bind:id="'blotterNav-'+index" role="tabpanel" aria-labelledby="nav-overview-tab">
            <table v-bind:id="'table'+index" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">P&L(g)</th>
                        <th scope="col">Fees</th>
                        <th scope="col">P&L(n)</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">Trades</th>
                        <th scope="col">Executions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="blot in daily.blotter">

                        <td>{{blot.symbol}}</td>
                        <td>{{blot.buyQuantity+blot.sellQuantity}}</td>
                        <td v-bind:class="[blot.grossProceeds>0 ? 'greenTrade' : 'redTrade']">{{(blot.grossProceeds).toFixed(2)}}</td>
                        <td>{{(blot.fees).toFixed(2)}}</td>
                        <td v-bind:class="[blot[amountCase+'Proceeds']>0 ? 'greenTrade' : 'redTrade']">{{(blot[amountCase+'Proceeds']).toFixed(2)}}</td>
                        <td>{{blot.grossWinsCount}}</td>
                        <td>{{blot.grossLossCount}}</td>
                        <td>{{blot.trades}}</td>
                        <td>{{blot.executions}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- SCREENSHOTS TAB -->
        <div class="tab-pane fade txt-small" v-bind:id="'screenshotsNav-'+index" role="tabpanel" aria-labelledby="nav-overview-tab">
            <div v-for="setup in setups.filter(obj => obj.dateUnixDay == daily.dateUnix)" class="">
                <p v-if="setup.side" class="col mt-1">{{setup.symbol}} @ {{timeFormat(setup.dateUnix)}} ({{setup.side}})</p>
                <p v-else class="col mt-1">{{setup.symbol}} @ {{hourMinuteFormat(setup.dateUnix)}}</p>
                <img v-bind:id="setup.objectId" class="setupEntryImg mt-1 img-fluid" v-bind:src="setup.annotated.url"/>
            </div>
        </div>

        <!-- DIARY TAB -->
        <div class="tab-pane fade" v-bind:id="'diariesNav-'+index" role="tabpanel" aria-labelledby="nav-overview-tab">
            <div v-if="journals.findIndex(obj => obj.dateUnix==daily.dateUnix) != -1">
                <p v-if="journals[journals.findIndex(obj => obj.dateUnix==daily.dateUnix)].journal.positive != '<p><br></p>'">
                    <span  class="dashInfoTitle col mb-2">Positive aspect</span>
                    <span v-html="journals[journals.findIndex(obj => obj.dateUnix==daily.dateUnix)].journal.positive"></span>
                </p>
                <p v-if="journals[journals.findIndex(obj => obj.dateUnix==daily.dateUnix)].journal.negative != '<p><br></p>'">
                    <span class="dashInfoTitle">Negative aspect</span>
                    <span v-html="journals[journals.findIndex(obj => obj.dateUnix==daily.dateUnix)].journal.negative"></span>
                </p>
                <p v-if="journals[journals.findIndex(obj => obj.dateUnix==daily.dateUnix)].journal.other != '<p><br></p>'">
                    <span class="dashInfoTitle">Observations</span>
                    <span v-html="journals[journals.findIndex(obj => obj.dateUnix==daily.dateUnix)].journal.other"></span>
                </p>
            </div>
        </div>

    </div>
</div>