<!-- Line 1 : Date and P&L -->
<!--<input id="providers" type="text" class="form-control" placeholder="Fournisseur*" autocomplete="off"/>-->

<div class="col-12 cardFirstLine d-flex align-items-center fw-bold">
    <div class="col-auto">{{createdDateFormat(daily.dateUnix)}}<i v-on:click="updateDailySatisfaction(daily.dateUnix, true)" v-bind:class="[daily.satisfaction == true ? 'greenTrade' : '', 'uil', 'uil-thumbs-up', 'ms-2', 'me-1', 'pointerClass']"></i><i v-on:click="updateDailySatisfaction(daily.dateUnix, false)" v-bind:class="[daily.satisfaction == false ? 'redTrade' : '', , 'uil', 'uil-thumbs-down', 'pointerClass']"></i></div>
    <div class="col-auto ms-auto">P&L(n): <span v-bind:class="[daily.pAndL[amountCase+'Proceeds']>0 ? 'greenTrade' : 'redTrade']">{{twoDecCurrencyFormat(daily.pAndL[amountCase+'Proceeds'])}}</span></div>
</div>

<!-- Line 2 : Charts and total data -->
<div class="col-12 d-flex align-items-center text-center">
    <div class="row">
    @@if(firstColumns == "daily"){
        <!--  -> Win Loss Chart -->
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-4">
                    <div v-bind:id="'pieChart'+daily.dateUnix" class="chartIdDailyClass"></div>
                </div>
                <!--  -> Win Loss evolution Chart -->
                <div class="col-8 chartCard">
                    <div v-bind:id="'doubleLineChart'+daily.dateUnix" class="chartIdDailyClass"></div>
                </div>
    }
    @@if(firstColumns == "videos"){
        <div class='col-1'>
                    <div class="parentIcon">
                        <i class="uil uil-film txt-xx-large img-fluid pointerClass" v-on:click='showMore(daily.dateUnix, index)'></i>
                        <div class="childIcon">
                            <i v-if="videosInIndexedDB.includes(daily.videoName)" class="uil uil-cloud-check"></i>
                            <i v-else class="uil uil-cloud-download"></i>
                        </div>
                    </div>
                </div>
    }
    </div>
        </div>
        <!--  -> Tot trades and total executions -->
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col row">
                    <div>
                        <label>Executions</labels>
                        <p>{{daily.pAndL.executions}}</p>
                    </div>
                    <div>
                        <label>Trades</labels>
                        <p>{{daily.pAndL.trades}}</p>
                    </div>
                </div>

                <!--  -> Tot Wins and losses -->
                <div class="col row">
                    <div>
                        <label>Wins</labels>
                        <p>{{daily.pAndL.grossWinsCount}}</p>
                    </div>
                    <div>
                        <label>Losses</labels>
                        <p>{{daily.pAndL.grossLossCount}}</p>
                    </div>
                </div>

                <!--  -> Tot commission and gross p&l -->
                <div class="col row">
                    <div>
                        <label>Fees</labels>
                        <p>{{twoDecCurrencyFormat(daily.pAndL.fees)}}</p>
                    </div>
                    <div>
                        <label>P&L(g)</labels>
                        <p>{{twoDecCurrencyFormat(daily.pAndL.grossProceeds)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>