<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@title</title>
    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/png" href="images/sun_full_blue.png"/>
    <!--<link rel="manifest" href="/manifest.json">-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@latest/dist/bootstrap-tagsinput.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@latest/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@latest/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-calendar@latest/css/calendar.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/video.js@latest/dist/video-js.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/x-data-spreadsheet@latest/dist/xspreadsheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@latest/dist/css/shepherd.css"/>
    <link href="css/all.min.css" rel="stylesheet">
    <link href="css/style-dark.css" rel="stylesheet">
    <script src="scripts/mixins/dashboardMixin.js"></script>
    <script src="scripts/mixins/dailyMixin.js"></script>
    <script src="scripts/mixins/tradesMixin.js"></script>
    <script src="scripts/mixins/chartsCalMixin.js"></script>
    <script src="scripts/mixins/entriesMixin.js"></script>
    <script src="scripts/mixins/addNoteMixin.js"></script>
    <script src="scripts/mixins/videosMixin.js"></script>
    <script src="scripts/mixins/notesMixin.js"></script>
    <script src="scripts/mixins/addTradesMixin.js"></script>
    <script src="scripts/mixins/playbookMixin.js"></script>
    <script src="scripts/mixins/settingsMixin.js"></script>
    <script src="scripts/mixins/journalsMixin.js"></script>
    <script src="scripts/mixins/setupsMixin.js"></script>
    <script src="scripts/mixins/forecastMixin.js"></script>
    <script src="scripts/mixins/brokersMixin.js"></script>
</head>