<main class="container">
    <form @submit.prevent="@@action">
        <img class="mb-4" src="">
        <h1 class="h3 mb-3 fw-normal">@@title</h1>
        <input type="email" id="inputEmail" class="form-control" placeholder="@@emailPlaceholder" required="" autofocus="" v-model="@@form.username">
        <input type="password" id="inputPassword" class="form-control" placeholder="@@password" required="" v-model="@@form.password">
        <button class="w-100 btn btn-lg btn-primary" type="submit">@@button</button>
    </form>
</main>