<div class="justify-content-between navbar">
    <div class="col-6">
        <span v-if="screenType == 'mobile'">
            <a v-on:click="toggleMobileMenu">
                <i v-bind:class="currentPage.icon" class="me-1"></i>{{currentPage.name}}</a>
        </span>
        <span v-else="screenType == 'mobile'">
            <i v-bind:class="currentPage.icon" class="me-1"></i>{{currentPage.name}}</span>
    </div>
    <div class="col-6 ms-auto text-end">
        <div class="row">
            <div class="col align-self-end">
                <button id="step11" class="btn blueBtn btn-sm" href="#" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="uil uil-plus me-2"></i>Add</button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="addTrades">Trades</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="addDiary">Diary Entry</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="addScreenshot">Screenshot</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="addPlaybook">Playbook</a>
                    </li>

                </ul>
            </div>
            <div id="step12" class="col-1" v-bind:key="renderProfile">
                <a v-if="currentUser.hasOwnProperty('avatar')" class="me" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="profileImg" v-bind:src="currentUser.avatar.url"/></a>
                <a v-else class="me" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="profileImg" src="images/astronaut.png"/></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <!--<li>
                        <a class="dropdown-item">Cash Balance : {{thousandCurrencyFormat(dailyInfos.cashBalance)}}</a>
                    </li>
                    <li>
                        <a class="dropdown-item">Buying Power : {{thousandCurrencyFormat(dailyInfos.buyingPower)}}</a>
                    </li>
                    <!--<li>
                        <a class="dropdown-item" href="settings">
                            <i class="uil uil-sliders-v-alt me-2"></i>Settings</a>
                    </li>-->
                    <li>
                        <a class="dropdown-item" v-on:click="initShepherd()">
                            <i class="uil uil-question-circle me-2"></i>Tutorial</a>
                    </li>
                    <li>
                        <a class="dropdown-item" v-on:click="refreshTrades()">
                            <i class="uil uil-sync me-2"></i>Refresh Data</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="settings">
                            <i class="uil uil-sliders-v-alt me-2"></i>Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" v-on:click="logout()">
                            <i class="uil uil-signout me-2"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>