<script src="https://cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@latest/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@latest/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/parse@3.4.4/dist/parse.min.js"></script>
<!--<script src="https://unpkg.com/markerjs2/markerjs2.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/markerjs2@latest/markerjs2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@latest/dist/bootstrap-tagsinput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@latest/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@latest/papaparse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@latest/dayjs.min.js"></script>
<!--<script src="https://unpkg.com/dayjs@latest/plugin/utc.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/dayjs@latest/plugin/utc.js"></script>
<script>dayjs.extend(window.dayjs_plugin_utc)</script>
<!--<script src="https://unpkg.com/dayjs@latest/plugin/isoWeek.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/dayjs@latest/plugin/isoWeek.js"></script>
<script>dayjs.extend(window.dayjs_plugin_isoWeek)</script>
<!--<script src="https://unpkg.com/dayjs@latest/plugin/timezone.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/dayjs@latest/plugin/timezone.js"></script>
<script>dayjs.extend(window.dayjs_plugin_timezone)</script>
<!--<script src="https://unpkg.com/dayjs@latest/plugin/duration.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/dayjs@latest/plugin/duration.js"></script>
<script>dayjs.extend(window.dayjs_plugin_duration)</script>
<!--<script src="https://unpkg.com/dayjs@latest/plugin/updateLocale.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/dayjs@latest/plugin/updateLocale.js"></script>
<script>dayjs.extend(window.dayjs_plugin_updateLocale)</script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/calendarize@1.1.1/dist/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@latest/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/video.js@latest/dist/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/numbro@latest/dist/numbro.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lz-string@latest/libs/lz-string.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/x-data-spreadsheet@latest/dist/xspreadsheet.js"></script>
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
<script src="scripts/drawIo.js"></script>
<script src="scripts/vue.js"></script>
<!--<script>
 if (!navigator.serviceWorker.controller) {
     navigator.serviceWorker.register("/sw.js").then(function(reg) {
         console.log("Service worker has been registered for scope: " + reg.scope);
     });
 }
</script>-->