<!doctype html>
<html lang="en" data-bs-theme="light">
@@include('components/head.html', {
    "title": "TradeNote | @@pageName"
})
    <body>
        <div id="vapp">
            <div v-cloak class="container-fluid g-0">
                <div class="row g-0">
                    <div id="sideMenu" v-bind:class="'min-vh-100 ' +( screenType == 'computer' ? 'sideMenu col-2' : 'sideMenuMobile')">
                        @@include('components/sideMenu.html')
                    </div>
                    <div class="col-12 col-lg-10 position-relative">
                        <div v-show="sideMenuMobileOut" class="sideMenuMobileOut position-absolute" v-on:click="toggleMobileMenu"></div>
                        @@include('components/nav.html')
                        <main id="@@pageId">
                            <div v-show="loadingSpinner" class="overlay">
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm me-3" role="status" aria-hidden="true"></span>{{loadingSpinnerText}}</button>
                                </div>
                            </div>
                            @@include('pages/@@pageId.html')
                        </main>
                    </div>
                    @@include('components/footer.html')
                </div>
            </div>
        </div>
        <!-- end vapp -->
        @@include('components/scripts.html')
    </body>
</html >