CUSTOM_ACCOUNT=123abc
ACCOUNT_LABEL=MT5

ALLOW_EMPTY_PASSWORD=yes

PARSE_SERVER_APPLICATION_ID=application_id
PARSE_SERVER_MASTER_KEY=master_key
PARSE_SERVER_DATABASE_URI=mongodb://parse-mongodb/tradeNote

PARSE_INIT=application_id
PARSE_MASTER_KEY=master_key

PARSE_DASHBOARD_SERVER_URL=http://192.168.1.1:1337/parse
PARSE_DASHBOARD_APP_ID=application_id
PARSE_DASHBOARD_MASTER_KEY=master_key
PARSE_DASHBOARD_USER_ID=admin
PARSE_DASHBOARD_USER_PASSWORD=admin
PARSE_DASHBOARD_APP_NAME=TradeNote
PARSE_DASHBOARD_ALLOW_INSECURE_HTTP=1
PARSE_DASHBOARD_ALLOW_ANONYMOUS_USER=1
